mixin phone-link(number, bold)

	- var strNumber = number.toString();
	- function beautifyNumber(number) { if (bold) { return `+7 (${number.substring(0,3)}) <b>${number.substring(3,6)}-${number.substring(6,8)}-${number.substring(8,10)}</b>`} else {return `+7 (${number.substring(0,3)}) ${number.substring(3,6)}-${number.substring(6,8)}-${number.substring(8,10)}`}}
	- var beautyNumber = beautifyNumber(strNumber);

	a.phone-link&attributes(attributes)(href=`tel:+7${number}`)!= beautyNumber
