.form-input
  height: 34px
  border-width: 0 0 1px 0
  border-color: $bg-gray
  border-style solid
  font-size: 16px
  font-weight: 800
  line-height: 40px
  border-radius: 0
  background-color: transparent
  hide-styling()
  color: #000
  autofill(#fff, #000)
  text-overflow()
  padding-left: 0
  padding-right: 0
  transition background .3s ease
  &::placeholder
    font-size: 14px
    line-height: 31px
    font-weight: 800
    opacity: 1
    transition: opacity .3s ease
    color: #1c1c1c
  &:focus
    outline: none
    &::placeholder
      opacity: 0
