.footer
  position: relative
  background: $bg-gray
  color: #FFF
  padding: 32px 0 46px
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25)
  +above(m)
    padding: 28px 0 21px
  +above(t)
    padding: 50px 0 35px

  &__wrapper
    display grid
    justify-items: center
    grid-template-columns 1fr
    grid-gap 35px
    grid-template-areas "footer-logo" "footer-socials" "footer-work-time"
    margin-bottom: 40px
    +above(t)
      align-items center
      grid-template-columns 1fr 177px 1fr
      grid-template-areas "footer-socials footer-logo footer-work-time"
      margin-bottom: 0

  &__item
    &_name
      &_socials
        grid-area footer-socials
        +above(t)
          justify-self start
      &_logo
        grid-area footer-logo
      &_work-time
        grid-area footer-work-time
        +above(t)
          justify-self end

  &__logo
    display inline-block

  &__work-time
    text-align: right

  .work-time__table
    +to-width(m)
      push-auto()
