include ../socials/socials
include ../creator/creator
include ../work-time/work-time

mixin footer(data)
	footer.footer&attributes(attributes)

		.wrapper.footer__wrapper
			.footer__item.footer__item_name_socials
				+socials(socials.default)(class='footer__socials')

			.footer__item.footer__item_name_logo
				+logo({img: 'logo-oke-poke', alt: 'Ресторан "Оке Поке" - рыба, рис и лапша'})(class='footer__logo')

			.footer__item.footer__item_name_work-time
				+work-time(class='footer__work-time')

		.wrapper
			+creator(class='footer__creator')

