@font-face
  font-family "<%= fontName %>"
  src resolve('<%= fontName %>.woff2') format('woff2'),
  resolve('<%= fontName %>.woff') format('woff'),
  resolve('<%= fontName %>.ttf') format('truetype')

.icon
  display: inline-block
  vertical-align: middle
  line-height: 1
  &::before
    font-family "icon-font"
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    speak none
    font-style normal
    font-variant normal
    font-weight normal
    text-decoration none
    text-transform none


<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>_<%= glyph.fileName %>::before
  content '\<%= glyph.codePoint %>'
<% }); %>
