{{#extend "stylus"}}
$sphImage = {{spritesheet.image}}

{{#sprites}}
$sph-{{name}}-pos = {{px.offset_x}} {{px.offset_y}}
$sph-{{name}}-width = {{px.width}}
$sph-{{name}}-height = {{px.height}}
{{/sprites}}
{{/extend}}