.{{mapname}}
	background: resolve('sprite-css.svg')
	display: inline-block
{{#shapes}}
.{{mapname}}_{{base}}
	width: {{width.inner}}px
	height: {{height.inner}}px
	background-position: {{position.absolute.x}}px {{position.absolute.y}}px
{{/shapes}}