mixin head(data)
	-
		var title = data.title;

	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")
	meta(http-equiv="msthemecompatible" content="no")
	meta(name='format-detection', content='telephone=no')
	meta(name="format-detection" content="address=no")
	meta(name="HandheldFriendly" content="True")
	meta(http-equiv="cleartype" content="on")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="application-name" content="Title")
	meta( name="msapplication-tooltip" content="Description")

	link(rel='stylesheet', href='vendors/css/swiper.min.css')
	link(rel='stylesheet', href='vendors/css/vendors.css')
	link(rel='stylesheet', href='vendors/css/classic.css')
	link(rel='stylesheet', href='vendors/css/classic.date.css')
	link(rel='stylesheet', href='vendors/css/classic.time.css')
	link(rel='stylesheet', href='css/styles.css')

	meta(name='theme-color', content='#07090d')
	//-link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic', rel='stylesheet')

	//- SEO
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="")
		meta(name="copyright" content="(c)")
		meta(http-equiv="Reply-to" content="mail@yandex.ru")
	title= title
