.contacts
  background: $bg-gray
  color: #FFF
  padding: 73px 0 108px

  &__title-sm
    display: block
    font-size: 14px
    font-weight: 800
    text-transform: uppercase
    margin-bottom: 14px
    +above(t)
      font-size: 16px
    +above(l)
      font-size: 18px

  &__top
    display grid
    grid-gap 20px
    grid-template-columns auto
    grid-template-areas "contacts-title"\
                        "contacts-img"\
                        "contacts-text"
    margin-bottom: 55px
    +above(t)
      grid-template-columns 1fr 1fr
      grid-gap 20px
      grid-template-areas "contacts-title contacts-title"\
                          "contacts-img contacts-text"
    +above(l)
      grid-template-columns 1fr 1fr
      grid-gap 21px
      grid-template-areas "contacts-img contacts-title"\
                          "contacts-img contacts-text"

  &__item
    &_name
      &_title
        grid-area contacts-title
        align-self end
        +above(l)
          -ms-grid-row: 1
          -ms-grid-column: 3
          -ms-grid-column-span: 1
      &_img
        grid-area contacts-img
        +above(l)
          -ms-grid-row: 1
          -ms-grid-row-span: 3
          -ms-grid-column: 1
      &_text
        grid-area contacts-text
        align-self: center
        display: flex
        flex-direction: column
        width: 100%
        +above(l)
          flex-direction: row
          justify-content: space-between
          max-width: 450px
          align-self start

  &__bottom
    display: grid
    grid-gap 40px
    grid-template-columns 1fr
    grid-template-areas 'contacts-pedestrain'\
    'contacts-car'
    +above(t)
      grid-gap 20px
      grid-template-columns 1fr 1fr
      grid-template-areas 'contacts-pedestrain contacts-car'

  &__col
    &_pedestrain
      grid-area contacts-pedestrain
    &_car
      grid-area contacts-car

  &__contacts-text
    margin-bottom: 24px
    +above(l)
      margin-bottom: 0

  &__text
    margin-bottom: 40px

  &__work-time
    display: inline-block

  &__icon-work
    vertical-align: top
    margin-right: 7px
    margin-top: .3em
    font-size: 12px

  &__img
    width: 142px
    +above(t)
      width: 167px
    +above(l)
      width: auto

  .work-time
    td:first-child
      padding-right: 10px

