include ../contacts-text/contacts-text
include ../work-time/work-time

mixin contacts(data)
	.contacts&attributes(attributes)

		.wrapper
			.contacts__top
				.contacts__item.contacts__item_name_title
					h2.section__title Контакты
				.contacts__item.contacts__item_name_img
					img.contacts__img.main-img(src='images/contacts__sign-logo.svg')

				.contacts__item.contacts__item_name_text
					+contacts-text(class='contacts__contacts-text')
					.contacts__work-time-wrapper
						i.icon.icon_clock.contacts__icon-work
						+work-time(class='contacts__work-time')

			.contacts__bottom
				each i, index in data.paths
					.contacts__col(class=`contacts__col_${index}`)
						span.contacts__title-sm= i.title
						p.contacts__text= i.text
						+adaptive('64%')
							.text-image(style={background: `url(images/contacts__${i.img}.jpg) 50% no-repeat`, 'background-size': 'cover', height: '100%'})


