mixin logo(data)
	.logo&attributes(attributes)
		picture.logo__picture
			source(srcset='images/logo__' + data.img + '.png, images/logo__' + data.img + '@2x.png 2x, images/logo__' + data.img + '@3x.png 3x')
			img.logo__img(src='images/logo__' + data.img + '.png', alt=data.alt)