.contacts-text
  &__icon
    &-lang
    &-point
      font-size: 13px
      margin-right: 7px
    &-phone
      font-size: 11px
      margin-right: 7px

  &__contacts
    font-size: 20px
    text-align: right

  &__address
    display: block
    margin-bottom: .4em

  .phone-link
    &
    &:link
    &:visited
    &:hover
    &:active
      color: #FFF
