mixin contacts-text(data)
	.contacts-text&attributes(attributes)
		span.contacts-text__address
			i.icon.icon_point.contacts-text__icon-point
			span Валовая ул., 35, к.Б
		span.contacts-text__phone
			i.icon.icon_phone.contacts-text__icon-phone
			+phone-link('4954566767')(class=['contacts-text__phone', 'main-hidden-link'])
