.controls

  display: flex
  flex-direction: column
  align-items: center

  &__arrow
    font-size: 20px
    +above(t)
      font-size: 28px
    +above(l)
      font-size: 38px

  &__center
    margin: 25px 0
    +above(t)
      margin: 34px 0
    +above(l)
      margin: 37px 0
    &::before
      display: block

    &_ic
      &_scroll-desktop
        display: none
        font-size: 66px
        +above(l)
          display: block
      &_pointer
        display: none
        font-size: 30px
        +between(t, t)
          display: block
      &_fingerprint
        font-size: 25px
        +above(t)
          display: none
