mixin controls(data)
	.controls&attributes(attributes)

		i.controls__arrow.icon.icon_thin-arr-up
		i.controls__center.controls__center_ic_scroll-desktop.icon.icon_scroll-desktop
		i.controls__center.controls__center_ic_pointer.icon.icon_pointer
		i.controls__center.controls__center_ic_fingerprint.icon.icon_fingerprint
		i.controls__arrow.icon.icon_thin-arr-down
