.work-time
  &__table
    border-collapse collapse
    color: #FFF
    tr
      td
        padding-bottom: .4em
      &:last-child
        td
          padding-bottom: 0
    td
      padding: 0 45px 0 0
      &:last-child
        padding-right: 0
