block variables

include ../modules/head/head
include ../modules/noscript/noscript
include ../modules/scripts/scripts
include ../modules/header/header
include ../modules/footer/footer
include ../modules/section/section
include ../modules/adaptive/adaptive
include ../modules/scroll-top/scroll-top


doctype html
html(lang='ru', class='bx-no-touch')

	head

		+head({'title': "Оке Поке!"})

	body.main-body

		//-.icons-sprite(hidden)
			include ../../tmp/sprite-html/sprite-html.svg
		+noscript

		+header

		main.main-content
			block content

		+footer(footer)
		+scroll-top
		+scripts