.gallery
  position: relative
  background: $bg-gray
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  padding: 93px 0
  z-index: 1
  overflow: hidden

  &__list
    position: relative
    width: 1080px
    left: 50%
    transform translateX(-50%)
    +above(m)
      width: 1580px
    +above(t)
      width: 2080px

  &__item
    position: relative
    height: 200px
    background-size: cover
    display: flex
    align-items: center
    justify-content: center
    +above(m)
      height: 300px
    +above(t)
      height: 400px

    &::after
      pseudo()
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba(#000, 0)
      z-index: 1
      transition background .35s ease-out

    &:hover
      &::after
        background: rgba(#000, .4)
      & ^[0]__button
        opacity: 1

  &__button
    position: relative
    z-index: 2
    opacity: 0
    transition opacity .35s ease-out
