mixin gallery(data)
	.gallery&attributes(attributes)

		.gallery__list.swiper-container
			.swiper-wrapper
				each i, index in data.list
					.gallery__item.swiper-slide(class=`gallery__item_n_${index%7}`, style={'background-image': `url(images/gallery__${i.img}.jpg)`})
						if i.button
							a.gallery__button.button.button_inverse(href=`images/gallery__${i.img}.jpg`)= i.button

