extends ../layouts/default

include ../modules/carousel-main/carousel-main
include ../modules/menu-main/menu-main
include ../modules/form-main/form-main
include ../modules/gallery/gallery
include ../modules/contacts/contacts

block content

	+carousel-main(carouselMain.default)

	+section({title: 'Доставка и оплата', img: 'delivery.svg'})(id='delivery')
		.section__text-item
			p Вы на работе, дома, в гостях? Мы всегда порадуем Вас блюдами из представленного меню нашего ресторана.
			.section__icons
				script(src='https://eda.yandex/js/delivery-button.js?skin=1&rest=oke-poke.ru&utm_source=eda.yandex&utm_medium=referral&utm_campaign=oke-poke.ru&nw')
		.section__text-item
			p Свой заказ Вы можете оплатить наличными или банковской картой. Минимальная сумма заказа - 700 рублей.
			.section__icons
				i.icon.icon_card.section__icon-card
				i.icon.icon_banknote.section__icon-banknote

	+section({title: 'О нас', img: 'fish.svg', light: true})(id='about')
		.section__container
			each i in section.about
				p!= i

	+section({title: 'Меню', img: 'food_0.png', imgClass: 'food'})(id='menu', style={'padding-bottom': 0})
		.section__container
			each i in section.about
				p!= i

	+section({title: false, light: false, simple: true})(style={'padding-top': 0, 'padding-bottom': '30px'})
		+menu-main(menuMain.default)

	+section({title: 'Забронировать', img: 'reserved.svg', imgClass: 'reserved', light: true})(id='reservation')
		+form-main

	+gallery(gallery.default)(id='gallery')

	+contacts(contacts.default)(id='contacts')

