extends ../layouts/default

block content

	img.main-img(src='images/text-top.jpg', alt='')

	+section({title: 'заголовок', light: false, simple: true})
		each p in section.text
			p= p

		.section__images
			ul.section__images-list
				each i in [0,1]
					li.section__images-item
						img.main-img(src=`images/text-item_${i}.jpg`, alt='')

