include ../label/label

mixin carousel-main(data)
	.carousel-main&attributes(attributes)
		.wrapper
			+label(class='carousel-main__label')

		.carousel-main__container.swiper-container
			.swiper-wrapper
				each item in [0, 1]
					.carousel-main__item.swiper-slide
						.carousel-main__img(style={'background-image': 'url(images/carousel-main__item_0.jpg)'})
						.wrapper.carousel-main__wrapper
							.carousel-main__content
								span.carousel-main__title= data.list[0].title
								span.carousel-main__text= data.list[0].text

			.carousel-main__pagination.swiper-pagination

		.carousel-main__bottom
			.wrapper
				a.carousel-main__button.button.button_type_empty(href='/#reservation') Забронировать столик




