.carousel-main
  position: relative
  background: $bg-gray
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  z-index: 2

  &__link
    display: block

  &__link-logo
    display: block

  &__item
    position: relative

  &__img
    height: 320px
    background-size: cover
    background-position: 50%
    +above(m)
      height: 365px
    +above(900px)
      height: 704px

  &__wrapper
    +above(650px)
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      height: 100%

  &__content
    color: #FFF
    padding: 16px 0 45px
    +above(650px)
      max-width: 50%
      padding: 0

  &__title
    display: block
    font-size: 26px
    font-weight: 800
    text-transform: uppercase
    margin-bottom: .7em
    line-height: normal
    text-align: center
    +above(m)
      font-size: 28px
    +above(650px)
      text-align: left
    +above(900px)
      font-size: 36px

  &__text
    font-size: 16px
    line-height: normal
    +above(900px)
      font-size: 24px


  .swiper-pagination-bullet
    height: 10px
    width: 10px
    background-color: transparent
    border: 1px solid #FFF
    opacity: 1
    &-active
      background: #FFF

  &__bottom
    text-align: center
    padding: 30px 0

  &__label
    position: absolute
    top: 0
    right: 56px
    z-index: 5
    +above(m)
      right: 66px
    +above(t)
      right: 78px
