.label
  transform rotate(-90deg)
  transform-origin right 0
  filter drop-shadow(0 4px 4px rgba(0, 0, 0, 0.24))

  &__link
    position: relative
    display: block
    font-size: 11px
    font-weight: 800
    text-transform: uppercase
    letter-spacing: .2em
    background: #DB1A23
    color: #FFF
    text-decoration: none
    padding: 11px 5px
    &:link
    &:visited
      color: #FFF
    &:hover
    &:active
      color: #FFF

    +above(m)
      padding: 16px 15px
    +above(t)
      padding: 22px 30px
      font-size: 14px


    &::before
      pseudo()
      arr(20px, 34px, #DB1A23, tr)
      top: 0
      left: -20px

    &::after
      pseudo()
      arr(20px, 34px, #DB1A23, br)
      bottom: 0
      left: -20px




