mixin scripts(data)
	script(src='vendors/js/jquery.min.js', defer)
	script(src='vendors/js/swiper.min.js', defer)
	script(src='vendors/js/imask.min.js', defer)
	script(src='vendors/js/picker.js', defer)
	script(src='vendors/js/picker.date.js', defer)
	script(src='vendors/js/picker.time.js', defer)
	script(src='vendors/js/ru_RU.js', defer)
	script(src='vendors/js/jquery.magnific-popup.min.js', defer)
	script(src='js/scripts.js', defer)
	if block
		block