.form-main
  width: 100%

  &__form
    text-align: center
    +above(t)
      text-align: right

  &__container
    display grid
    margin-bottom: 44px
    text-align: left
    grid-gap 20px
    grid-template-columns repeat(2, 1fr)
    grid-template-areas "name name"\
                        "date time"\
                        "phone phone"\
                        "guests guests"\
                        "text text"
    +above(t)
      grid-gap 30px 20px
      grid-template-columns repeat(4, 1fr)
      grid-template-areas "name name date time"\
                          "phone phone guests guests"\
                          "text text text text"

  &__item
    position: relative
    &_it
      &_name
        grid-area name
      &_date
        grid-area date
        .picker
          width: 250px
          +above(t)
            right: 0
      &_time
        grid-area time
        .picker
          right: 0
      &_phone
        grid-area phone
      &_guests
        grid-area guests
      &_text
        grid-area text

  &__input
    width: 100%
    &_it
      &_text
        resize none

  .picker
    top: 100%

