mixin form-main(data)
	.form-main&attributes(attributes)

		form.form-main__form
			.form-main__container
				.form-main__item.form-main__item_it_name
					input.form-main__input.form-input(placeholder='Имя')
				.form-main__item.form-main__item_it_date
					input.form-main__input.form-input.form-input_type_date(type='text', placeholder='Дата')
				.form-main__item.form-main__item_it_time
					input.form-main__input.form-input.form-input_type_time(type='text', placeholder='Время')
				.form-main__item.form-main__item_it_phone
					input.form-main__input.form-input.form-input_type_phone(type='tel', placeholder='Телефон')
				.form-main__item.form-main__item_it_guests
					input.form-main__input.form-input.form-input_type_guests(type='text', placeholder='Количество гостей')
				.form-main__item.form-main__item_it_text
					textarea.form-main__input.form-main__input_it_text.form-input(placeholder='Комментарий')
			button.form-main__submit.button.button_shadow забронировать

