.button
  position relative
  height: 40px
  line-height: 38px
  display: inline-block
  hide-styling()
  border 1px solid
  border-color: #FFF
  border-radius: 42px
  padding: 0 25px
  font-size: 14px
  font-weight: 800
  text-align: center
  background: $bg-gray
  min-width: 88px
  text-transform: uppercase
  touch-action: manipulation
  cursor: pointer
  vertical-align: middle
  text-overflow ellipsis
  text-decoration: none
  transition all .25s ease-out
  &
  &:link
  &:visited
    color: #FFF
  &:hover
  &:active
    color: #FFF
  &:hover
    box-shadow: 0 0 4px rgba(#FFF, 0.65)
  &:active
    box-shadow none

  &_shadow
    border-color: $bg-gray
    &:hover
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

  &_inverse
    &:link
    &:visited
      color: #FFF
      background: transparent
    &:hover
    &:active
      color: #FFF


  +above(m)
    height: 42px
    line-height: 40px
