.hamburger
  display: block
  touch-action: manipulation
  &-label
    display: inline-block
    vertical-align: middle
    font-weight: 500
    color: #FFF
    text-transform: uppercase
    font-size: 16px
    margin-left: 5px
  &-box
    vertical-align: middle
  &:focus
    outline: none


  +above(m)
    &-box
      width: 32px
    &-inner
      width: 32px
      &::before
        width: 32px
        top: -8px
      &::after
        bottom: -8px
        width: 32px

  +above(t)
    &-box
      width: 38px
    &-inner
      width: 38px
      &::before
        width: 38px
        top: -10px
      &::after
        bottom: -10px
        width: 38px

