mixin hamburger(data)
	button.hamburger.hamburger--arrowturn(type='button', value='Меню', role='presentation')&attributes(attributes)
		span.hamburger-box
			span.hamburger-inner
		//-span.hamburger-label Меню

