.popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(#000, .55)
  text-align: center
  font-size: 0
  z-index: 100
  overflow: hidden auto
  white-space: nowrap
  display: none
  padding: 10px
  &::before
    content ''
    display: inline-block
    height: 100%
    vertical-align: middle

  &_opened
    display: block

  &__tile
    position: relative
    display: inline-block
    vertical-align: middle
    background: #FFF
    padding: 0 0 30px
    width: 100%
    max-width: 485px
    min-width: 320px
    white-space: normal

  &__header
    background: #F9F9F9
    padding: 20px 15px 10px
    +above(m)
      padding-left: 30px
      padding-right: 30px

  &__title
    font-size: 13px
    font-weight: 500
    text-transform: none
    text-align: left

  &__close
    position: absolute
    top: 10px
    right: 10px
    font-size: 13px
    border: 0
    background-color: transparent
    hide-styling()
    cursor: pointer
    color: #9D9D9D
    &:hover
    &:active
      color: #000

  &__figure
    padding: 25px 15px
    margin: 0
    display: flex
    text-align: left
    +above(m)
      padding-left: 30px
      padding-right: 30px

  &__product
    &-link
      flex-shrink: 0
      display: block
      height: 110px
      width: 110px
      margin-right: 20px

  &__caption
    font-size: 14px
    padding-top: 12px


