mixin popup(data)
	.popup&attributes(attributes)

		.popup__tile
			button.popup__close(type='button')
				i.icon.icon_close

			header.popup__header
				h1.popup__title Товар добавлен в корзину

			figure.popup__figure
				a.popup__product-link(href='#')
					img.popup__product-img.main-img(src='images/catalog__item_0.jpg', alt='Новогодний подарок "Детки конфетки"')
				figcaption.popup__caption
					span.popup__text Новогодний подарок "Детки конфетки"

			.popup__button-wrapper
				a.popup__button.button.button_color_second.button_size_md Перейти в корзину