include ../controls/controls

mixin menu-main(data)
	.menu-main&attributes(attributes)

		.menu-main__body
			.menu-main__header
				h3.menu-main__title
					-var titleIndex = 0;
					each i, key in data
						if titleIndex !== 0
							i.menu-main__slash.icon.icon_slash
						a.menu-main__title-link.menu-main__link(href='#', data-id=`menues_${titleIndex++}`, class= titleIndex === 0? 'menu-main__link_active': '')= i.name

			//- slider
			.menu-main__menues.swiper-container
				.swiper-wrapper
					-var manuesIndex = 0
					each menu, key in data
						.menu-main__menu.swiper-slide(data-id=`menues_${manuesIndex}`)
							.menu-main__type-container
								each i, index in menu.types
									.menu-main__type-item
										a.menu-main__type-link.menu-main__link(href='#', data-id=`${key}_${index}`, class= index===0? 'menu-main__link_active': '')= i.name

							//- slider
							.menu-main__dishes.swiper-container(data-id=`${key}_${manuesIndex}`)
								.swiper-wrapper
									each t, tIndex in menu.types
										.menu-main__dishes-item.swiper-slide
											.menu-main__dishes-col.menu-main__dishes-col_name_list

												//- slider
												.menu-main__dish-container.swiper-container(data-id= `${t.index}_${tIndex}`)
													.swiper-wrapper
														if t.items
															each i, itemIndex in t.items
																.menu-main__dish-item.swiper-slide
																	a.menu-main__dish-link.menu-main__link(href='#', data-id= `${t.index}_${itemIndex}`, class= itemIndex===0? 'menu-main__link_active': '')
																		span.menu-main__dish-name= i.name
																		span.menu-main__dish-price= i.price
																		i.menu-main__dish-icon.icon.icon_ruble

													.menu-main__dish-scroll.swiper-scrollbar

											.menu-main__dishes-col.menu-main__dishes-col_name_controls
												+controls(class='menu-main__controls')

											.menu-main__dishes-col.menu-main__dishes-col_name_figure

												//- slider
												.menu-main__figure-container.swiper-container(data-id= `${t.index}_${tIndex}`)
													.swiper-wrapper
														each i, figIndex in t.items
															figure.menu-main__figure.swiper-slide(data-id= `${t.index}_${figIndex}`)
																img.menu-main__dishes-img.main-img(src='images/food_1.png', alt=i.name)
																figcaption.menu-main__caption= i.name
						-manuesIndex++

		.menu-main__show
			span.menu-main__show-text Подробнее
			i.menu-main__show-icon.icon.icon_arrow-down



