.menu-main

  &__body
    overflow: hidden

  &__header
    padding-top: 100px
    margin-bottom: 35px

  &__title
    font-weight: 800
    font-size: 18px
    text-align: center
    line-height: 1.6
    +above(l)
      font-size: 28px
      text-align: left
    &-link
      white-space: nowrap
      vertical-align: middle

  &__link
    transition color .25s ease-out
    &:link
    &:visited
      color: #6E6E6E
      text-decoration: none
    .bx-no-touch &
      &:hover
        color: #FFF
        text-decoration: none

    &_active
      &:link
      &:visited
      &:hover
      &:active
        color: #FFF
        cursor: default

  &__slash
    margin: 0 7px

  &__type
    &-container
      display: flex
      flex-wrap: wrap
      justify-content center
      margin-left: -15px
      margin-right: -15px
      +above(t)
        margin-left: -30px
        margin-right: -30px
        margin-bottom: 20px
      +above(l)
        justify-content: flex-start
        margin-bottom: 60px

    &-item
      padding: 5px 0
      font-size: 14px
      text-transform: uppercase
      margin-left: 15px
      margin-right: 15px
      +above(t)
        margin-left: 30px
        margin-right: 30px
      +above(l)
        font-size: 20px
        padding: 10px 0

    &-link
      position: relative
      &::after
        pseudo()
        left: 0
        right: 100%
        bottom: 0
        height: 2px
        background: currentColor
        transition none
      &:hover
      &^[0]__link_active
        &::after
          right: 0
          transition right .25s ease-in-out

  &__dishes
    &-item
      align-items: center
      display grid
      grid-row-gap 30px
      grid-template-columns auto 50px
      grid-template-areas "menu-figure menu-controls"\
                          "menu-list menu-list"
      +above(t)
        grid-row-gap 0
        grid-template-columns 50% 160px auto
        grid-template-areas "menu-list menu-controls menu-figure"

    &-col
      position: relative
      &_name
        &_list
          grid-area menu-list
          +above(t)
            -ms-grid-column-span 1
        &_controls
          grid-area menu-controls
          justify-self: center
          align-self: center
        &_figure
          grid-area menu-figure
          align-self: center
          padding-left: 50px
          +above(t)
            padding-left: 0
    &-img
      margin-bottom: 30px
      max-width: 162px
      +above(t)
        max-width: 203px
      +above(l)
        max-width: none


  &__dish
    &-container
      overflow: hidden
      height: 252px
      padding-right: 20px
      +above(t)
        height: 378px
      +above(l)
        height: 432px
    &-item
      position: relative
      font-size: 16px
      cursor: default
      +above(l)
        font-size: 20px
      &::after
        pseudo()
        bottom: 0
        left: -20px
        right: 0
        height: 1px
        background: inline('inline-icons/dash.svg') 0 0 repeat-x
        opacity: .3
    &-link
      display: flex
      align-items: center
      padding: 5px 0
      height: 100%
      line-height: 1.1
    &-name
      margin-right: 15px
    &-price
      margin-left: auto
      margin-right: 12px

  &__figure
    margin: auto 0
    display: flex
    flex-direction: column
    justify-content: center
    &-container
      overflow: hidden
      height: 260px
      +above(t)
        height: 390px

  &__caption
    text-align: center
    line-height: 1.1

  &__show
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 55px
    transition padding .3s ease-in

    &-text
      font-size: 14px
      text-transform: uppercase
      margin-bottom: 14px

    &-icon
      font-size: 27px
      cursor: pointer

    &_opened
      padding-top: 10px
      & ^[1]-text
        visibility hidden
      & ^[1]-icon
        transform rotate(180deg)


  .swiper-scrollbar
    background: rgba(#828282, .02)
    width: 4px
    &-drag
      background: #828282
