.creator
  color: rgba(243, 243, 243, 0.6)
  font-size: 14px
  text-align: center
  +above(t)
    text-align: left

  &__link
    font-size: 14px
    &:link
    &:visited
      color: rgba(243, 243, 243, 0.6)
    &:hover
    &:active
      color: rgba(243, 243, 243, 0.6)
      text-decoration: none