.header
  position: relative
  color: #FFF
  z-index: 3

  &__shadow
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    background: #27292D

  &__wrapper
    position: relative
    padding-top: 8px
    padding-bottom: 9px
    display grid
    align-items: center
    grid-template-columns 1fr 127px 1fr
    grid-template-areas "header-hamburger header-logo header-lang"\
                        "header-hamburger header-logo header-lang"

    +above(m)
      grid-template-columns 1fr 156px 1fr
      grid-template-areas "header-hamburger header-logo header-lang"\
      "header-hamburger header-logo header-lang"
      padding-top: 11px
      padding-bottom: 14px

    +above(t)
      grid-gap 5px
      grid-template-columns 1fr 245px 1fr
      grid-template-areas "header-lang header-logo header-contacts"\
      "header-hamburger header-logo header-contacts"
      padding-top: 29px
      padding-bottom: 30px

  &__item
    &_name
      &_lang
        grid-area header-lang
        justify-self end
        align-self: center
        +above(t)
          justify-self start
          align-self: end
      &_hamburger
        grid-area header-hamburger
        align-self: center
        +above(t)
          align-self: start
      &_logo
        grid-area header-logo
        justify-self: center
      &_contacts
        display: none
        grid-area header-contacts
        justify-self end
        align-self: center
        +above(t)
          display: block


  &__lang-trigger
    margin-bottom: 10px
    &:link
    &:visited
      color: #FFF
      text-decoration: none
    &:hover
    &:active
      color: #FFF
      text-decoration: underline

  &__logo
    width: auto
    padding-top: 10px