include ../logo/logo
include ../hamburger/hamburger
include ../phone-link/phone-link
include ../contacts-text/contacts-text
include ../navigation/navigation

mixin header(data)
	header.header&attributes(attributes)

		.header__shadow
			.wrapper.header__wrapper
				.header__item.header__item_name_lang
					a.header__lang-trigger(href='#')
						i.icon.icon_language.header__icon-lang
						span eng/ru
				.header__item.header__item_name_hamburger
					+hamburger
				.header__item.header__item_name_logo
					a.header__link-logo(href='/')
						+logo({img: 'logo-oke-poke', alt: 'Ресторан "Оке Поке" - рыба, рис и лапша'})(class='header__logo')
				.header__item.header__item_name_contacts
					+contacts-text(class='header__contacts-text')

		+navigation(navigation.default)
