.navigation
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: -1
  background: rgba(39, 41, 45, 0.3)
  display: none
  opacity: 0
  transition opacity .2s ease-out
  &_ready
    display: block
  &_opened
    opacity: 1
    & ^[0]__box
      left: 0

  &__box
    overflow: auto
    position: absolute
    top: 0
    bottom: 0
    background: #FFF
    width: 211px
    z-index: -1
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    left: -220px
    transition left .2s ease-out
    +above(t)
      left: -275px
      width: 267px
    +above(l)
      left: -385px
      width: 382px

  &__inner
    padding: 95px 15px 15px
    +above(m)
      padding-top: 110px
    +above(580px)
      padding-top: 130px
    +above(t)
      padding: 190px 20px 20px

  &__list
    margin-bottom: 60px

  &__item
    text-align: center
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0

    +above(t)
      margin-bottom: 50px

  &__link
    position: relative
    font-size: 14px
    text-transform: uppercase
    text-decoration: none
    font-weight: 800
    &:link
    &:visited
      color: $bg-gray
    &:hover
    &:active
      color: $bg-gray
      &::after
        right: 0
        transition right .15s ease-in-out

    +above(t)
      font-size: 16px
    +above(l)
      font-size: 18px

    &::after
      pseudo()
      left: 0
      bottom: 0
      right 100%
      height: 2px
      background: $bg-gray
      transition none

  &__contacts-text
    color: $bg-gray
    text-align: center

  .phone-link
    &
    &:link
    &:visited
    &:hover
    &:active
      color: $bg-gray
