include ../contacts-text/contacts-text

mixin navigation(data)
	nav.navigation&attributes(attributes)

		.navigation__box
			.navigation__inner
				ul.navigation__list
					each i in data.list
						li.navigation__item
							a.navigation__link(href=`/#${i.link}`)= i.name

				+contacts-text(class='navigation__contacts-text')

