.socials
  &__list
    display: flex
    align-items: center
    justify-content: center
    +above(t)
      justify-content: flex-start

  &__item
    margin-right: 45px
    &:last-child
      margin-right: 0

  &__link
    text-decoration: none
    &:link
    &:visited
      color: #FFF
    &:hover
    &:active
      color: #CCC

