mixin socials(data)
	.socials&attributes(attributes)
		ul.socials__list(aria-label='Ссылки на соц сети')
			each item in data.list
				li.socials__item
					a.socials__link.icon(href='#', class='icon_' + item, aria-label= item)

