.sprite
  display: inline-block
  vertical-align: middle
  background-image: resolve('sprite.png')

for $sprite in $spritesheet-sprites
  if (match('-hover', $sprite[9]))
    .navigation-catalog__item:hover
      & .sprite_{replace('-hover', '', $sprite[9])}
        width $sprite[4]
        height $sprite[5]
        background-position $sprite[2] $sprite[3]
  else
    .sprite_{$sprite[9]}
      width $sprite[4]
      height $sprite[5]
      background-position $sprite[2] $sprite[3]

