mixin picture(data, moduleName)
	-var imagePath = `${moduleName}__${data.img}`;

	picture.picture&attributes(attributes)
		source(srcset='images/' + imagePath + '.png, images/' + imagePath + '@2x.png 2x, images/' + imagePath + '@3x.png 3x')
		img.picture__img(src='images/' + imagePath + '.png', alt=data.alt? data.alt: '', title=data.alt)
