ul
ol
  margin: 0

h1
h2
h3
h4
h5
h6
.main-h1
.main-h2
.main-h3
.main-h4
.main-h5
.main-h6
  font-weight: 500
  line-height: 1.38
  margin: 0 0 1em
  text-transform: uppercase
  &_center
    text-align: center
  &_bold
    font-weight: 700


textarea, button, select, input
  font-family: $base-font-family

*
*::before
*::after
  box-sizing: border-box
  outline none

::selection
  color: #FFF
  background-color: rgba(#000, .5)

font-face('Proxima Nova', ProximaNova-Regular, 400)
font-face('Proxima Nova', ProximaNova-Extrabld, 800)

ul
ol
  list-style-type: none
  margin: 0
  padding: 0

body
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: normal
  color: $color-font
  min-width: 320px
  min-height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: $body-bg

p
  font-size: 16px
  font-weight: 300
  line-height: $base-line-height
  margin: 0 0 1em
  &:last-child
    margin-bottom: 0

  b
    font-weight: 500

a
  &
  &:link
  &:visited
    color: #000
  &:hover
  &:active
    color: #000
    text-decoration: none

.main-body
  display: flex
  flex-direction: column

.main-content
  flex-grow: 1

.footer
  margin-top: auto

.main-img
  img()

.main-text
  font-size: 14px
  +above(m)
    font-size: 16px
  &_larger
    font-size: 16px
    +above(m)
      font-size: 18px

.main-hidden-link
  white-space: nowrap
  text-decoration: none
  &:link
  &:visited
  &:hover
  &:active
    color: #000

.wrapper
  //outline: 1px dotted rgba(#000, .3)
  position: relative
  max-width: $wrapper-width
  min-width: 320px
  width: 100%
  padding-left: $wrapper-padding
  padding-right: $wrapper-padding
  push-auto()
  +above(m)
    width: 440px
  +above(t)
    width: 748px
  +above(l)
    width: $wrapper-width
