.mfp-close-btn-in .mfp-close
  font-family: initial
  font-size: 40px
  height: 55px
  width: 55px

.mfp-fade
  &.mfp-bg
    opacity: 0
    transition: all 0.15s ease-out
    &.mfp-ready
      opacity: 0.55
    &.mfp-removing
      opacity: 0
  &.mfp-wrap
    .mfp-content
      opacity: 0
      transition: all 0.15s ease-out
    &.mfp-ready .mfp-content
      opacity: 1
    &.mfp-removing .mfp-content
      opacity: 0

.swiper-slide
.swiper-wrapper
  height: auto
