@charset "UTF-8";

/* ------------------------NORMALIZE------------------------*/


//
// You can override the default values by setting the variables in your Sass
// before importing the normalize-scss library.

// The font size set on the root html element.
$base-font-size: 16px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'px';

// The default font family.
$base-font-family: null;

// The font sizes for h1-h6.
$h1-font-size: 2.25    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 0;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false;


@import "../../../node_modules/normalize-scss/sass/normalize.scss";

@include normalize;



/* ------------------------HAMBURGERS------------------------*/
/*
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-x                       : 0;
$hamburger-padding-y                       : 10px;
$hamburger-layer-width                     : 24px;
$hamburger-layer-height                    : 2px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : #FFF;
$hamburger-layer-border-radius             : 0px;
$hamburger-hover-opacity                   : 1;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: arrowturn;

@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";


/* ------------------------MAGNIFIC-POPUP------------------------*/



@import "../../../node_modules/magnific-popup/src/css/main.scss";



/* ------------------------CHOICES.JS------------------------*/

$choices-selector: 'choices';
$choices-font-size-lg: 13px;
$choices-font-size-md: 13px;
$choices-font-size-sm: 12px;
$choices-guttering: 16px;
$choices-border-radius: 0;
$choices-border-radius-item: 0;
$choices-bg-color: transparent;
$choices-bg-color-disabled: #EAEAEA;
$choices-bg-color-dropdown: #ededed;
$choices-text-color: #1c1c1c;
$choices-keyline-color: #DDDDDD;
$choices-primary-color: #5d9d60;
$choices-disabled-color: #eaeaea;
$choices-highlight-color: $choices-primary-color;
$choices-button-icon-path: '../../icons';
$choices-button-dimension: 6px;
$choices-button-offset: 6px;

//@import "../../../node_modules/choices.js/assets/styles/scss/choices.scss";
