mixin section(data)
	section.section&attributes(attributes)(class= data.light? 'section_light': '')

		.wrapper(class= data.simple? '': 'section__wrapper')

			if data.title
				h2.section__title= data.title

			if block
				if data.simple
					block
				else
					.section__col.section__col_name_image
						img.section__img(src=`images/${data.img}`, alt='', class= data.imgClass? `section__img_${data.imgClass}`: '')
					.section__col.section__col_name_content
						block