.section
  background: $bg-gray
  color: #FFF
  padding-top: 48px
  padding-bottom: 48px
  +above(t)
    padding-top: 40px
    padding-bottom: 40px
  +above(l)
    padding-top: 108px
    padding-bottom: 108px

  &_ligh
    background: #E5E5E5
    color: $bg-gray

  &__wrapper
    display grid
    grid-gap 20px
    grid-template-columns 1fr
    grid-template-areas "section-title"\
                        "section-image"\
                        "section-content"
    +above(l)
      grid-gap 20px
      grid-template-columns repeat(2, 1fr)
      grid-template-rows auto
      grid-template-areas "section-image section-title"\
                          "section-image section-content"

  &_light
    background: #FFF
    color: $bg-gray

  &__title
    font-size: 28px
    font-weight: 800
    text-transform: uppercase
    text-align: center
    margin-bottom: 10px
    grid-area section-title
    +above(t)
      font-size: 36px
    +above(l)
      text-align: left

  &__text-item
    &:first-child
      margin-bottom: 33px
    +between(t, t)
      flex-width(48%)
      margin-bottom: 0


  &__col
    &_name
      &_image
        grid-area section-image
        padding-bottom: 30px
        display: flex
        align-items: center
        +above(l)
          padding-bottom: 0
      &_content
        grid-area section-content
        +between(t, t)
          display: flex
          justify-content: space-between

  &__container
    overflow: hidden

  &__icons
    text-align: center
    > *
      margin-right: 20px
      &:last-child
        margin-right: 0
    +above(l)
      text-align: right

  &__icon
    &-yandexeda
      font-size: 21px
    &-card
      font-size: 23px
    &-banknote
      font-size: 32px

  &__img
    display: block
    margin: auto
    max-width: 100%
    width: 130px
    +above(t)
      width: 154px
    +above(l)
      width: auto

    &_food
      width: 173px
      +above(t)
        width: 193px

    &_reserved
      width: 170px
      +above(t)
        width: 202px

  &__images
    padding: 65px 0 10px
    margin-bottom: 55px
    overflow: auto
    &-list
      display: flex
      align-items: center

    &-item
      margin-right: 15px
      min-width: 355px
      &:last-child
        margin-right: 0
